{{#if hasBlock}}
  {{yield (hash
    title=(component 'modal/-title' title=title)
  )}}
{{else}}
  {{#modal/-title}}
    {{title}}
  {{/modal/-title}}
  {{#if showCloseInHeader}}
    {{#bootstrap-button
      classNames="close"
      aria-label="Close"
      action=(action 'closeAction')}}
      <span aria-hidden="true">&times;</span>
    {{/bootstrap-button}}
  {{/if}}
{{/if}}
