{{#if hasBlock}}
  {{yield}}
{{else}}
  <h5 class="modal-title">
    {{title}}
  </h5>
  {{#if showCloseInHeader}}
    {{#bootstrap-button
      classNames="close"
      aria-label="Close"
      action=(action 'closeAction')}}
      <span aria-hidden="true">&times;</span>
    {{/bootstrap-button}}
  {{/if}}
{{/if}}
