{{#bs-modal/header classNames="generic-modal-header"}}
  <div class="generic-modal-header-wrap">
    {{#if hasBlock}}
      <h3>{{yield}}</h3>
    {{else}}
      <h3>{{title}}</h3>
    {{/if}}
  </div>
{{/bs-modal/header}}
