<div class="modal fade" id="{{modalId}}" role="dialog">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{modal/modal-header
        title=title
        showClose=showCloseInHeader
        modalClose=(action 'modalClose')}}
      {{modal/modal-body content=modalBodyContent}}
      {{modal/modal-footer
        btnAcceptLabel=btnAcceptLabel
        btnAcceptStyle=btnAcceptStyle
        btnCloseLabel=btnCloseLabel
        btnCloseStyle=btnCloseStyle
        modalAccept=(action 'modalAccept')
        modalClose=(action 'modalClose')}}
    </div>
  </div>
</div>
