{{yield (hash label=(component 'bootstrap/-label' classNames=(if srOnly 'control-label sr-only' 'control-label')) inputId=inputId)}}
{{#if errors}}
  <div class="invalid-feedback">
    {{#each errors as |error|}}
      <span>{{error.message}}</span>
    {{/each}}
  </div>
{{/if}}
