{{yield
  (hash
    label=(component 'bootstrap/-label'
      label=label
      srOnly=srOnly
      for=inputId
    )
    help=(component 'bootstrap/-help'
      helpId=helpId
      help=help
    )
    helpId=helpId
    inputId=inputId
    errors=errors
    inputId=inputId
  )
}}
{{#if errors}}
  <div class="alert alert-danger" role="alert">
    {{#each errors as |error|}}
      <span>{{error.message}}</span>
    {{/each}}
  </div>
{{/if}}
