{{yield
  (hash
    label=(component 'bootstrap/-label'
      label=label
      srOnly=srOnly
    )
  )
}}
{{#if errors}}
  <div class="invalid-feedback">
    {{#each errors as |error|}}
      <span>{{error.message}}</span>
    {{/each}}
  </div>
{{/if}}
