{{#if label}}
  <label for="{{inputId}}" class="control-label">{{label}}</label>
{{/if}}
{{input
  elementId=inputId
  enter='applyValueImmediately'
  value=valueText
  placeholder=placeholder}}
{{#if errors}}
  <div class="form-control-static alert alert-danger" role="alert">
    {{#each errors as |error|}}
      <span>{{error.message}}</span>
    {{/each}}
  </div>
{{/if}}
