<dl>
  <dt>Value Options</dt>
  <dd>
    <ul>
      {{#each options as |option|}}
        <li>{{option}}</li>
      {{/each}}
    </ul>
  </dd>
</dl>
{{bootstrap/radio-group
  label=propDefinition.name
  value=dataValue
  options=options
  inline=true
  onChange=(action "optionSelected")
}}
