{{#freestyle-guide
  title="Wildland UX"
  subtitle="A ember control library based on bootstrap4."
  }}
  {{#freestyle-section name="Example Page"}}
    <p>{{#link-to "example-page"}}Example page{{/link-to}} that can be used for examples that don't need to be within freestyle</p>
  {{/freestyle-section}}
  {{ember-bootstrap-controls-freestyle}}
{{/freestyle-guide}}
