{{#freestyle-guide
  title='Ember Bootstrap Controls'
  subtitle='Living Style Guide'
  }}
  {{#freestyle-section name="Example Page"}}
    <p>{{#link-to 'example-page'}}Example page{{/link-to}} that can be used for examples that don't need to be within freestyle</p>
  {{/freestyle-section}}
  {{ember-bootstrap-controls-freestyle}}
{{/freestyle-guide}}
