{{#section.subsection name='modal Container'}}
  {{#freestyle-collection
    defaultKey='Basic Usage'
    inline=false
    as |collection|
  }}
    {{#collection.variant key='Basic Usage'}}
      {{#bootstrap-button
        classNames='btn-primary'
        action=(action 'openModal')
      }}
        Open Modal
      {{/bootstrap-button}}

      {{#freestyle-usage 'basic-modal' name='Basic Modal'}}
        {{modal/modal-container
          isOpen=isModalOpen
          title="Simple Modal"
          modalBodyContent=sampleContent
          acceptAction=(action 'acceptModal')
        }}
      {{/freestyle-usage}}
    {{/collection.variant}}

    {{#collection.variant key='Advanced Usage'}}
      {{#bootstrap-button
        classNames='btn-primary'
        action=(action 'openModalAdvanced')
      }}
        Open Advanced Modal
      {{/bootstrap-button}}

      {{#freestyle-usage 'advanced-modal' name='Advanced Modal'}}
        {{modal/modal-container
          isOpen=isModalOpenAdvanced
          title="Advanced Modal"
          btnAcceptLabel="Ok"
          btnCloseLabel="Cancel"
          showCloseInHeader=true
          modalBodyContent=sampleContent
          acceptAction=(action 'acceptModalAdvanced')
          closeAction=(action 'closeModalAdvanced')
        }}
      {{/freestyle-usage}}
      {{freestyle-prop-types data=data propDefinitions=propDefinitions}}
    {{/collection.variant}}

    {{#collection.variant key='Custom Child Components'}}
      {{#bootstrap-button
        classNames='btn-primary'
        action=(action 'openModalCustomSub')
      }}
        Open Custom Block Modal
      {{/bootstrap-button}}

      {{#freestyle-usage 'child-components-modal' name='Custom Child Components'}}
        {{#modal/modal-container isOpen=isModalOpenCustomSub as |modal|}}
          {{#modal.header as |header|}}
            {{#header.title tagName="span"}}
              <strong>Title:</strong> Block Modal
            {{/header.title}}
            {{#bootstrap-button
              classNames="close"
              aria-label="Close"
              action=(action 'closeModalCustomSub')}}
              <span aria-hidden="true">&times;</span>
            {{/bootstrap-button}}
          {{/modal.header}}
          {{#modal.body}}
            <div>
            <h1>Content!</h1>
            <p>Some important stuff to read.</p>
            <p class="text-danger">Some Red text to read</p>
            </div>
          {{/modal.body}}
          {{#modal.footer}}
            {{#bootstrap-button
              classNames="btn-danger"
              action=(action 'closeModalCustomSub')}}
              Undo
            {{/bootstrap-button}}
            {{#bootstrap-button
              classNames="btn-info"
              action=(action 'acceptModalCustomSub')}}
              SAVE
            {{/bootstrap-button}}
          {{/modal.footer}}
        {{/modal/modal-container}}
      {{/freestyle-usage}}
    {{/collection.variant}}

  {{/freestyle-collection}}
{{/section.subsection}}
